<div class="row bg-hotelswave">
    <div class="offset-md-2 col-md-8 p-3 pt-5">
        <a routerLink="/">
            <img class="login-image" src="/assets/images/logo.png" alt="" title="" />
        </a>
        <div class="row">
            <div class="col-3 p-0"><a class="nav-link p-0" target="_blank"
                    href="https://www.hotelswave.com/hotels">HOTEL</a>
            </div>
            <div class="col-3 p-0"><a class="nav-link p-0" target="_blank"
                    href="https://www.hotelswave.com/flight">FLIGHT</a>
            </div>
            <div class="col-3 p-0"><a class="nav-link p-0" target="_blank"
                    href="https://www.hotelswave.com/ships">SHIPS</a>
            </div>
            <div class="col-3 p-0"><a class="nav-link p-0" target="_blank"
                    href="https://www.hotelswave.com/address">CONTACT</a>
            </div>
        </div>
    </div>
</div>